body{
    background-color: lavender;
}

.container{
    margin: auto;
    justify-items: center;
    width: 50%;
}

img{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10%;
}

